<!-- views/partials/header.ejs -->


<!-- Parallax Image -->
<div class="parallax">
    <div class="display">
        <!-- MUNRO SPOTTER - TITLE & LOGO -->
        <img class="logo" src="/img/ms_logo_white_1.png">
    </div>
</div>

<!-- Navigation Bar (Sticky) -->
<nav class="nav">
    <div id="nav-menu">

        <!-- MOBILE DEVICE - SIDE-NAV CLOSE BUTTON -->
        <a id="close-btn" href="javascript:void(0)" onclick="closeNav()">&times;</a>

        <!-- MAIN NAVIGATION -->
        <a id="nav-home" class="menu-btn" href="/">Home</a>
        <a id="nav-map" class="menu-btn" href="/munromap">Map</a>
        <a id="nav-list" class="menu-btn" href="/munrolist">List</a>
        <a id="nav-info" class="menu-btn" href="/information">Information</a>
        <a id="nav-contact" class="menu-btn" href="/contact">Contact</a>
        <!-- END -->

        <!-- Login button - shown when no user logged in-->
        <a id="nav-login" class="menu-btn" href="javascript:void(0)" onclick="openLogin()">Login</a>

        <!-- Logout & Profile buttons - Shown when user logged in -->
        <a id="nav-profile" class="menu-btn" href="/profile">Profile</a>
        <a id="nav-logout" class="menu-btn" href="/logout">Logout</a>

    </div>

    <!-- MOBILE DEVICE - OPEN SIDE-NAV -->
    <span id="open-btn" onclick="openNav()">MENU</span>
</nav>




