
/* public/css/info-style.css */
/* CSS for Information Page */


/* Style the tab */

#SiteTitle {
    font-family: Rockwell;
    color: #0B486B;
}

.tab {
    float: left;
    border: 1px solid #3B8686;
    background-color: #3B8686;
    width: 300px;
    height: auto;

}

/* Style the buttons inside the tab */
.info-tablinks {
    display: block;
    background-color: #3B8686;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

}

/* Change background color of buttons on hover */
.info-tablinks:hover {
    background-color: #A8DBA8;

}

/* Create an active/current "tab button" class */
.info-tablinks.active {
    background-color: #A8DBA8;

}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ffffff;
    width: 70%;
    border-left: none;
    height:auto;
    text-align: justify;
}

.tabcontent img {
    display: block;
    width: 60%;
    margin: auto;
}

.clearfix{
  clear:both;
}

#Pic1 {
  width:30%;
  height:27em;
  padding-right: 20px;
  float:left;
}

#Pic2 {
    /*height: 50px;*/
    /*padding-left: 490px;*/
}

#Pic3 {
  padding-right: 25px;
}

#Pic4 {
    height: 200px;
    width: 300px;
  /*padding-left: 580px;*/
}

#Pic5 {
  width: 40%;
  height:auto;
  padding-right: 25px;
}

#Pic6 {
  width: 40%;
  height:auto;
  padding-right: 25px;
}

.Pic7 {
  width: 40%;
  height:auto;
  padding-right: 25px;
}

#Pic8 {
  width: 30%;
  height:auto;
  float:left;
  padding-right: 25px;
}

#Pic9 {
  width: 50%;
  height:auto;
  float:right;
  padding-left: 20px;
}


@media only screen and (max-width: 516px) {
    .tab {
        width: 100%;
    }

    .tabcontent {
        width: 100%;
    }

    #Pic1, #Pic2, #Pic3,
    #Pic4, #Pic5, #Pic6,
    #Pic7, #Pic8, #Pic9 {
        width: 100%;
    }

}

