
/* public/css/tooltip-style.css */
/* CSS for Interactive Map Pop-up Tooltips*/


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #3B8686;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position tooltip text */
    position: absolute;
    z-index: 4;
    top: 120%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

}


/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #3B8686 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}