<!-- views/pages/contact.ejs -->

<!-- CONTACT PAGE-->

<!DOCTYPE html>

<html>

<head>
    <title>Contact Us - Munro Spotter</title>

    <% include ../partials/head.ejs %>

    <!-- CSS for contact form -->
    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>

    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <section class="page">
            <h2 id="title">CONTACT PAGE</h2>

            <!-- CONTACT FORM -->
            <!-- form doesn't send message anywhere
            redirects to pages/submit showing sent message -->
            <form id="form" action="/send" method="post">
                <table border="0" cellspacing= "5" cellpadding="5">


                    <!-- enter name - not required -->
                    <tr id= "name">
                        <td>NAME:</td>
                        <td>
                            <input type="text" name="NAME">
                        </td>
                    </tr>


                    <!-- enter email - required -->
                    <tr id= "email">
                        <td>EMAIL ADDRESS:</td>
                        <td>
                            <input type="text" name="EMAIL ADDRESS" required>
                        </td>
                    </tr>

                    <!-- enter message - required -->
                    <tr id="Inquiry">
                        <td>INQUIRY:</td>
                        <td>
                            <!--<input id="textarea" type="text" name="Inquiry" required>-->
                            <textarea id="message" name="Inquiry" form="form" rows="5" required></textarea>
                        </td>
                    </tr>
                </table>

                <!--submit message -->
                <div id="Button">
                    <input type="submit" value="Submit">
                </div>

            </form>
        </section>

        <!-- Login Box -->
        <% include ../partials/loginbox.ejs %>

    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

    <% include ../partials/scripts.ejs %>

</body>

</html>